@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

body {
	background-attachment: fixed;
}

footer {
	float: left;
	position: absolute;
	top: 230%;
	left: 45%;
}

#carousel {
	position: absolute;
	width: 100%;
	height: 90%;
	overflow: hidden;
}

#carousel ul {
	position: relative;
	left: -100%;
	list-style-type: none;
	width: 400%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#carousel ul li {
	width: 25%;
	overflow: hidden;
	text-align: center;
	height: 100%;
	list-style: none;
	float: left;
}

#left_scroll {
	position: absolute;
	top: 40%;
	transition: background-color 2s;
}

#right_scroll {
	position: absolute;
	top: 40%;
	right: 0%;
	transition: background-color 2s;
}

#left_scroll:hover, #right_scroll:hover {
	background-color: #FFFFFF;
}

#multi_column_container {
	position: absolute;
	top: 194%;
	width: 100%;
}

#mcc {
	width: 100%;
	padding-left: 20px;
}

#mcc li {
	float: left;
	padding: 0px 5px 0px 5px;
}

.modal {
	width: 450px;
	height: auto;
}

.scrolled {
	height: 5%;
}

.not_scrolled {
	height: 10%;
}

.li_scrolled {
	padding: 1% 2% 0px 2%;
}

.li_not_scrolled {
	padding: 2.5% 2% 0px 2%;
}

.selected {
	color: #000;
}

.not_selected {
	color: #aaa;
}

.modal {
	cursor: pointer;
}

nav {
	position: fixed;
	top: 0px;
	width: 90%;
	margin-left: 5%;
	background-color: #00FFF0;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
}
